:root {
    --FuenteTitulos: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;

    --negro: #000;
    --primario: #037bc0;
    --blanco: #fff;
    --gris: #e1e1e1;
    --verde: #8cbc00;
}
html {
    box-sizing: border-box;     /* El ancho y alto incluyen el contenido, padding y borde. */
    font-size: 62.5%;   /* 10px = 1rem*/
}
*,*::before, *::after {
    box-sizing: inherit;
}
/* Globales */
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--negro);
}
h1,h2,h3 {
    font-family: var(--FuenteTitulos);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center {
    text-align: center;
}
.lighter {
    font-weight: lighter;
}
.pointer {
    cursor: pointer;
}

/* Navegacion */
.header-span {
    color: var(--primario);
    font-weight: 700;
}
.borde {
    border-bottom: 2px solid var(--gris);
}
.portada {
    background-image: url("/img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .navegacion-principal{
        justify-content: space-between;
        padding: 2rem 0;
        flex-direction: row;    /*Importante*/
    }
}
.navegacion-principal a:hover {
    color: var(--primario);
    font-weight: 700;
}

/* Categorias Productos */
.categoria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.categoria__info:hover {
    background-color: var(--primario);
    border-radius: 5px;
}
@media (min-width: 768px) {
    .categoria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }  
}
/* Sobre Nosotros */
.sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
}
@media (min-width: 768px) {
    .sobre-nosotros {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 0;
    }
}
.sobre-nosotros__img {
    background-image: url("/img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40rem;
}
.sobre-nosotros__info{
    background-color: var(--primario);
    color: var(--blanco);
    padding-left: 1rem;

    padding-bottom: 5rem;
}
@media (min-width: 768px) {
    .sobre-nosotros__info{
        padding-left: 3rem;

        padding-bottom: 0;
    }
}
.sobre-nosotros__titulo {
    font-size: 3.5rem;
}
.sobre-nosotros__p {
    font-size: 1.8rem;
    line-height: 1.4;
}

/* Productos */
.producto {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.producto__img img {
  display: block;
  width: 100%;
  height: auto;
}
.producto__texto {
    line-height: 1.5;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .nuestros-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .producto {
        display: grid;
    }
    .producto:nth-child(1) {
        grid-column: 1 / 7;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(2){
        grid-column: 1 / 4;
    } 
    .producto:nth-child(3){
        grid-column: 4 / 7;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(4){
        grid-column: 1 / 3;
    } 
    .producto:nth-child(5){
        grid-column: 3 / 5;
    }
    .producto:nth-child(6){
        grid-column: 5 / 7;
    } 
    .producto__texto {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.producto__titulo {
    font-size: 2.5rem;
    padding-top: 2rem;
}
.producto__precio {
    font-weight: 700;
    font-size: 2rem;
}

.producto__info {
    color: var(--blanco);
    background-color: var(--primario);
    text-align: center;
}
.producto__boton {
    background-color: var(--verde);
}
.boton {
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    display: inline-block;
    width: 95%;
    padding: 1rem 0;
    margin: 2rem 0;
    font-size: 1.2rem;
}
.producto__boton:hover {
    background-color: #769c02;
}

/* footer */
@media (min-width: 768px) {
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}
.footer-line {
    border-top: 1px solid var(--gris);
    margin-top: 4rem;
    padding-top: 1rem;
}
.seccion h2 {
    text-align: center;
}
.navegacion-footer a {
    display: block;
    text-align: center;
}
@media (min-width: 768px) {
    .navegacion-footer a {
        text-align: justify;
    }
    .seccion h2 {
        text-align: justify;
    }
}
.navegacion-footer a:hover {
    color: var(--primario);
    font-weight: 700;
}

/* Nosotros.html */
.line {
    border-top: 1px solid var(--gris);
    padding-top: 1rem;
    margin-top: 0;
}

.nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax( 30rem, 1fr));
    column-gap: 4rem;
}
.nosotros__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
